@{
    ViewBag.Title = "About";
}
<div>
    <div class="title"><h2>About Luminux Housing</h2></div>
    <ul class="contact-info">
        <li><div class="icon-box"><span class="fa fa-map-marker"></span></div> 74/kha, West Housing Building <br>Luminux Housing.<br>Dhaka, Bangladesh </li>
        <li><div class="icon-box"><span class="fa fa-phone"></span></div> +880 111 111 1111 <br>+880 000 000 000</li>
        <li><div class="icon-box"><span class="fa fa-envelope"></span></div> support@luminux.com</li>
    </ul>

   
</div>

