    <!--Main Footer-->
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <h2>Luminux Housing</h2>
                                <div class="widget-content">
                                    <div class="text">Sed perspiciatis unde omnis iste natus elit voluptatem accusantium doloremque site laudantium totam rem aperiam.</div>
                                    <div class="copyright-text">&copy; Luminux Housing @DateTime.Now.Year, All Rights Reserved.</div>

                                </div>
                            </div>
                        </div><!--End Footer Column-->
                        <!--Footer Column-->
                        <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>Quick Links</h2>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="@Url.Action("About","Home")">About</a></li>
                                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                        <li><a href="#">Support Center</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--End Footer Column-->
                    </div>
                </div><!--End Big Column-->
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">


                        <!--Footer Column-->
                        <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <h2>Contact Us</h2>
                                <div class="widget-content">
                                    <div class="text">Feel free to ger in touch with us via phone or send us a message.</div>
                                    <ul class="contact-info">
                                        <li>
                                            <div class="icon"><span class="fa fa-envelope-o"></span></div> <a href="mailto:contact@luminuxhousing.com">contact@luminuxhousing.com</a>
                                        </li>
                                        <li>
                                            <div class="icon"><span class="fa fa-phone"></span></div> +880 100 000 0000
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--End Footer Column-->
                        <!--Footer Column-->
                        <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                            <div class="footer-widget social-widget">
                                <h2>Folow Us</h2>
                                <div class="widget-content">
                                    <ul class="social-links">
                                        <li><a href="https://www.facebook.com/luminuxhousing" class="facebook"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="https://twitter.com/luminuxhousing" class="twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="https://plus.google.com/up/luminuxhousing" class="google-plus"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="https://www.linkedin.com/luminuxhousing" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="https://www.instagram.com/luminuxhousing" class="instagram"><span class="fa fa-instagram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--End Footer Column-->

                    </div>
                </div><!--End Big Column-->

            </div>
        </div>
    </div>

<!--End Main Footer-->
